# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
.env

# Vector DB
chroma_db/

# Node
node_modules/
.next/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js

# OS
.DS_Store
Thumbs.db

.vercel
